.id{
	margin-left: 1%;
}
.atendente69{
	margin-left: 5%;
}
.fila22{
	margin-left: 11%;
}
.idatendente{
	margin-left: 11%;
}
.idfila{
	margin-left: 2%;
}
.editar33{
	margin-left: 8%;
}
.deletar65{
	margin-left: 16%;
}