.tutuu{
    background-color: #F5FFFA;
    color: black;
}
.da{
    display: inline;
}
.patrao{
    background-color: white;
    color: black;
}
.h1{
    color: black;
}
.apolos{
    background-color: #F5FFFA;
}


