.corpo{
    background-color: #F5FFFA;
    color: black;
}
.adicionar5{
    background-color: #F5FFFA;
    color: black;
}
.editar5{
    background-color: #F5FFFA;
    color: black;
}
.apagar5{
    background-color: #F5FFFA;
    color: black;
}