.adicionar2{
	background-color: #F5FFFA;
	color: black;
}
.editar2{
	background-color: #F5FFFA;
	color: black;
}
.deletar2{
	background-color: #F5FFFA;
	color: black;
}
.lg{
	background-color: #F5FFFA;
}