.gm2{
	background-color: #F5FFFA;
	color: black;
}
.adicionar3{
	background-color: #F5FFFA;
	color: black;
}
.editar3{
	background-color: #F5FFFA;
	color: black;
}
.fila3{
	background-color: #F5FFFA;
	color: black;
}
.deletar3{
	background-color: #F5FFFA;
}

