.mandela{
	background-color: black;
	color: whitesmoke;
}
.velha2{
	background-color: black;
	color: whitesmoke;
	width: 50%;
	height: 60%;
}
.velha51{
	background-color: black;
	color: whitesmoke;
	width: 50%;
	height: 55%;
}
.olinda{
	background-color: black;
	color: whitesmoke;
	width: 50%;
	height: 37%;
}